.filling {
  margin-top: 10px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin-bottom: 10px;
  max-height: 33vh;
  overflow: auto;
}

.empty {
  composes: empty from '../burger-constructor.module.scss';
}

.ingredient {
  composes: ingredient from '../burger-constructor.module.scss';
  &_hovered {
    composes: ingredient_hovered from '../burger-constructor.module.scss';
  }
}