
.wrapper {
  display: flex;
}

.menu {
  width: 320px;
  nav {
    display: flex;
    flex-direction: column;
    a {
      height: 64px;
    }
  }
  p {
    color: var(--text-dark-grey-secondary-text, #8585AD);
    opacity: 0.4;
  }
}