
.wrapper {
  width: 100%;
}


.dashboard {
  display: flex;
  justify-content: start;
}

.status {
  display: flex;
}

.list {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  max-height: 165px;
  width: 280px;

  .done {
    color: rgba(0, 204, 204, 1);
  }
}