.wrapper {
  position: relative;
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.modal {
  position: absolute;
  z-index: 2;
  width: 720px;
  border-radius: 40px;
  border: 1px solid var(--interface-modal-edge, rgba(76, 76, 255, 0.2));
  background: var(--interface-modal-bg, #1c1c21);
  box-shadow: 0 0 1px 0 rgba(0, 0, 0, 0.04),
    0 4px 8px 0 rgba(0, 0, 0, 0.04), 0 16px 24px 0 rgba(0, 0, 0, 0.04),
    0 24px 32px 0 rgba(0, 0, 0, 0.04);
}

.header {
  display: flex;
  justify-content: space-between;
}

.close {
  position: absolute;
  right: 40px;
  top: 50px;
}