
.card {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 520px;
  margin: 0 auto;
  img {
    width: 480px;
    height: 240px;
  }
}

.title {
  text-align: center;
}

.details {
  display: flex;
  justify-content: space-between;
  width: 100%;
  text-align: center;
}
